---
layout: default
---

<div class="container main">
  <div class="row">
    <div id="sidenav" class="col3">
      <ul class="mary-4">
        <li><a class="main" href="/how-to/">How to</a></li>
        <li><a class="activ" href="/how-to/#encoding-parameters">Encoding parameters</a></li>
        <li><a href="/how-to/#dommands">Commands for encoding</a></li>
        <li><a href="/how-to/#documents">Documents</a></li>
        <li><a class="main" href="/installation/">Instalation</a></li>
      </ul>
    </div>
    <!-- content -->
    <div class="col9 paper">
      {{ content }}
    </div>
    <!-- end content -->
  </div>
</div>
