---
layout: default
---

<div class="container main">
  <div class="row">
    <div id="sidenav" class="col3">
      <ul class="mary-4">
        <li><a class="main" href="/how-to/">How to</a></li>
        <li><a  {% if page.id == 'how-to' %}class="activ"{% endif %} href="/how-to/#encoding-parameters">Encoding parameters</a></li>
        <li><a href="/how-to/#commands">Commands for encoding</a></li>
        <li><a href="/how-to/#documents">Documents</a></li>
        <li><a class="main" href="/how-to/installation/">Instalation</a></li>
        <li><a  {% if page.id == 'installation' %}class="activ"{% endif %} href="/how-to/installation/">Windows</a></li>
        <li><a  {% if page.id == 'installation-linux' %}class="activ"{% endif %} href="/how-to/installation-linux/">Linux</a></li>
        <li><a  {% if page.id == 'installation-docker' %}class="activ"{% endif %} href="/how-to/installation-docker/">Docker</a></li>
        <li><a class="main" href="/how-to/configuration/">Configuration</a></li>
      </ul>
    </div>
    <!-- content -->
    <div class="col9 paper">
      {{ content }}
    </div>
    <!-- end content -->
  </div>
</div>
